<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @genre.id %>
</p>

<p>
  <b>Movie:</b>
  <%= @genre.movie_id %>
</p>

<p>
  <b>Name:</b>
  <%= @genre.name %>
</p>


<%= link_to 'Edit', edit_genre_path(@genre) %> |
<%= link_to 'Back', genres_path %>
