<style>
  table th {
    text-align: right;
  }
</style>


<h2><%= title %></h2>

<table>
  <tr>
    <td><%= subtitle unless defined?(subtitle).nil? %></td>
    <td style="padding-left:20px">
      <% if !defined?(show_sort).nil? && show_sort == true %>
      <div class="dropdown">
        <a id="dropdown-button" class="" data-toggle="dropdown" href="#">Sort</a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-button">
          <li><a href="?sort=title">Title</a></li>
          <li><a href="?sort=title%20desc">Title (desc)</a></li>
          <li><a href="?sort=runtime">Runtime</a></li>
          <li><a href="?sort=runtime%20desc">Runtime (desc)</a></li>
          <li><a href="?sort=release_date">Release Date</a></li>
          <li><a href="?sort=release_date%20desc">Release Date (desc)</a></li>
          <li><a href="?sort=vote_average">Rating</a></li>
          <li><a href="?sort=vote_average%20desc">Rating (desc)</a></li>
          <li><a href="?sort=random()">Random</a></li>
        </ul>
      </div>
      <% end %>
    </td>
  </tr>
</table>

<% movies.each do |movie| %>
  <div class="row movie" style="padding-top:20px;">
    <div class="col-md-2">
      <%= link_to image_tag("/img/posters/#{ movie.id }.jpg", class: 'movie-thumb'), "/view/#{ movie.id }" %>
    </div>
    <div class="col-md-10">
      <legend id="title"><%= movie.title %> <span class="sublegend"><%= movie.filename %></span></legend>
      <div class="row">
        <div class="col-md-8">
          <p><%= movie.overview %></p>
          <%= link_to "More Info", "/view/#{ movie.id }" %>
        </div>
        <div class="col-md-4">
          <table width='100%'>
            <tr>
              <th>Released: </th><td><%= movie.release_date %></td>
            </tr>
            <tr>
              <th>Rating: </th><td><%= "#{ movie.vote_average } (#{ movie.vote_count } votes)" %></td>
            </tr>
            <tr>
              <th>Runtime: </th><td><%= movie.runtime %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>

