<h2><%= genre[0] %></h2>

<div class="row">
  <div class="col-md-12">
    <legend>Random Selection <span class="sublegend"><%= link_to "View All", "/genre/#{genre[1]}/all" %></legend>
    <% random_movies.each_slice(6) do |slice| %>
      <div class="row genre-row">
        <% slice.each do |movie| %>
        <div class="col-md-2 col-xs-4 movie-cell" >
          <%= link_to image_tag("/img/posters/#{ movie[2] }.jpg", class: 'movie-thumb'), "/view/#{ movie[2] }" %>
          <span class="play"></span>
          <%= link_to movie[4], "/view/#{movie[2]}" %>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% genres.each do |g| %>
  <div class="row genre-row">
    <div class="col-md-12">
      <legend><%= link_to "#{genre[0]} & #{g[0]}", "/genre/#{genre[1]}/#{g[1]}" %></legend>
    </div>
    <% movie_hash[g[1]].each do |movie| %>
      <div class="col-md-2 movie-cell">
        <%= link_to image_tag("/img/posters/#{ movie[2] }.jpg", class: 'movie-thumb'), "/view/#{ movie[2] }" %>
        <%= link_to movie[4], "/view/#{movie[2]}" %>
      </div>
    <% end %>
  </div>
<% end %>
