<h1>Library</h1>

<span class="pull-right"><input class="form-control" id="search" name="search" placeholder="filter" type="search"></span>

<p><%= library.count %> movies (for now)</p>

<% library.each do |movie| %>
  <div class="row movie" style="padding-top:20px;">
    <div class="col-md-3">
      <img src="https://d3gtl9l2a4fn1j.cloudfront.net/t/p/w500/<%= movie[7] %>" style="width:100%"></img>
    </div>
    <div class="col-md-9">
      <legend id="title"><%= movie[13] %> <span class="sublegend"><%= movie[16] %></span></legend>

      <div class="row">
        <div class="col-md-6">
          <p><%= movie[5] %></p>
        </div>
        <div class="col-md-6">
          <table>
            <tr>
              <th>Release Date: </th>
              <td><%= movie[8] %></td>
            </tr>
            <tr>
              <th>TMDB Rating: </th>
              <td><%= movie[14] %> (<%= movie[15] %> votes)</td>
            </tr>
            <tr>
              <th>Runtime: </th>
              <td><%= movie[10] %></td>
            </tr>
          </table>
        </div>
      </div>

      <a href="http://caketop/files/nasdrive/movies/<%= movie[16] %>">Direct Link</a>

    </div>
  </div>
<% end %>

<script>
  $('#search').keyup(function() {
    var regex = new RegExp($('#search').val(), "i");
    var movies = $('.movie');
    movies.each(function (index) {
      if ($(this).html().search(regex) != -1) {
        $(this).show();
      } else {
        $(this).hide();
      }
    });
  });
</script>

