<h2>The Library</h2>

<div class="row">
  <div class="col-md-12">
    <legend>New Additions</legend>
    <% movies.each_slice(6) do |slice| %>
      <div class="row genre-row">
        <% slice.each do |movie| %>
        <div class="col-md-2 col-xs-4 movie-cell" >
          <%= link_to "<img src='https://d3gtl9l2a4fn1j.cloudfront.net/t/p/w500/#{movie.poster_path}' class='movie-thumb'></img>", "/watch/#{ movie.id }" %>
          <span class="play"></span>
          <%= link_to movie.title, "/view/#{movie.id}" %>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="row hidden-xs hidden-sm genre-row">
  <div class="col-md-12">
    <legend>Enjoyed by Others</legend>
  </div>
  <% recent.each do |movie| %>
    <div class="col-md-2 movie-cell">
      <%= link_to "<img src='https://d3gtl9l2a4fn1j.cloudfront.net/t/p/w500/#{movie.poster_path}' class='movie-thumb'></img>", "/watch/#{ movie.id }" %>
      <%= link_to movie.title, "/view/#{movie.id}" %>
    </div>
  <% end %>
</div>

<div class="row hidden-xs hidden-sm genre-row">
  <div class="col-md-12">
    <legend>Every day I'm shufflin'</legend>
  </div>
  <% random.each do |movie| %>
    <div class="col-md-2 movie-cell">
      <%= link_to "<img src='https://d3gtl9l2a4fn1j.cloudfront.net/t/p/w500/#{movie.poster_path}' class='movie-thumb'></img>", "/watch/#{ movie.filename }" %>
      <%= link_to movie.title, "/view/#{movie.id}" %>
    </div>
  <% end %>
</div>
