<html>
  <head>
    <title>Caketop Theater</title>
    <%= stylesheet_link_tag "/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "/css/bootstrap-theme.css" %>
    <%= stylesheet_link_tag "/css/custom.css" %>
  </head>
  <body>
  <div id="wrap">
    <div class="container">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <%= link_to "CAKETOP THEATER", '/', class: "navbar-brand" %>
  <ul class="nav navbar-nav navbar-right" style="padding-right: 10px;">
    <li><%= link_to "Home", "/" %></li>
    <li>
      <a href="#" data-toggle="modal" data-target="#request-modal">Request</a>
    </li>
    <li><%= link_to "Random", "/random" %></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'All', '/browse' %></li>
        <li><%= link_to 'By Genre', '/genre' %></li>
      </ul>
    </li>
    <li>
      <form class="navbar-form" role="search" action="<%= link_to('asdf', '/search').split('"')[1] %>" method="post">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" name="search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </li>
  </ul>
</nav>
      <%= yield %>
    </div>
    <div id="push"></div>
  </div>

  <div id="footer">
    <div class="container" style="height:30px;">
      <p style="padding-top:5px">Not affiliated with Westmont College. <a href="https://github.com/XanderStrike/movie-browser/">Github</a>. <a href="#" data-toggle="modal" data-target="#feedback-modal">Feedback</a>. <%= link_to "About", "/about" %>.</p>
    </div>
  </div>

<div class="modal fade" id="request-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Make a Request</h4>
      </div>
      <form action="<%= link_to("asdf", "/request").split('"')[1] %>" method="post">
        <div class="modal-body">
          <p>Here you can put in requests and stuff. Please include both the title and any extra identifying information about the movie that may be relevant (i.e. The Italian Job (2003) is different from The Italian Job (1969)). Films that are still in theaters are generally unavailable until they have a general Blu-Ray release. Also, if your request is stupid (i.e. Bio-Dome) it will not be filled.</p>
          <p>TV support is coming soon. The shows I have are available at caketop/tv at the moment, but it's not pretty.</p>
          <input type="text" name="name" placeholder="Your Name" class="form-control" required='true'><br>
          <textarea name="request" class="form-control" placeholder="Movie and any relevant information (year, director, etc.)" required="true"></textarea>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-info">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="feedback-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Give Us Your Feedback</h4>
      </div>
      <form action="<%= link_to("asdf", "/feedback").split('"')[1] %>" method="post">
        <div class="modal-body">
          <p>Here you can put in feedback and stuff. </p>
          <p>TV support is coming soon. The shows I have are available at caketop/tv at the moment, but it's not pretty.</p>
          <input type="text" name="name" placeholder="Your Name" class="form-control" required='true'><br>
          <textarea name="request" class="form-control" placeholder="Let us know what you think..." required="true"></textarea>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-info">
        </div>
      </form>
    </div>
  </div>
</div>

<%= javascript_script_tag "/js/jquery-1.10.2.min.js" %>
<%= javascript_script_tag "/js/bootstrap.min.js" %>
<%= javascript_script_tag "/js/jquery.lazyload.js" %>

<script>
  $('img.lazy').lazyload({
    effect : "fadeIn"
  });
</script>
  </body>
</html>

