<html>
  <head>
    <title>Caketop Theater</title>
    <%= stylesheet_link_tag "/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "/css/bootstrap-theme.css" %>
    <%= stylesheet_link_tag "/css/custom.css" %>
    <%= javascript_script_tag "/js/jquery-1.10.2.min.js" %>
    <%= javascript_script_tag "/js/bootstrap.min.js" %>
    <%= javascript_script_tag "/js/jquery.lazyload.js" %>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>

