<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :backdrop_path %><br />
    <%= f.text_field :backdrop_path %>
  </div>
  <div class="field">
    <%= f.label :budget %><br />
    <%= f.text_field :budget %>
  </div>
  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :imdb_id %><br />
    <%= f.text_field :imdb_id %>
  </div>
  <div class="field">
    <%= f.label :original_title %><br />
    <%= f.text_field :original_title %>
  </div>
  <div class="field">
    <%= f.label :overview %><br />
    <%= f.text_field :overview %>
  </div>
  <div class="field">
    <%= f.label :popularity %><br />
    <%= f.text_field :popularity %>
  </div>
  <div class="field">
    <%= f.label :poster_path %><br />
    <%= f.text_field :poster_path %>
  </div>
  <div class="field">
    <%= f.label :release_date %><br />
    <%= f.text_field :release_date %>
  </div>
  <div class="field">
    <%= f.label :revenue %><br />
    <%= f.text_field :revenue %>
  </div>
  <div class="field">
    <%= f.label :runtime %><br />
    <%= f.text_field :runtime %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :tagline %><br />
    <%= f.text_field :tagline %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :vote_average %><br />
    <%= f.text_field :vote_average %>
  </div>
  <div class="field">
    <%= f.label :vote_count %><br />
    <%= f.text_field :vote_count %>
  </div>
  <div class="field">
    <%= f.label :filename %><br />
    <%= f.text_field :filename %>
  </div>
  <div class="field">
    <%= f.label :added %><br />
    <%= f.text_field :added %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
