<p id="notice"><%= notice %></p>

<p>
  <b>Backdrop path:</b>
  <%= @movie.backdrop_path %>
</p>

<p>
  <b>Budget:</b>
  <%= @movie.budget %>
</p>

<p>
  <b>Id:</b>
  <%= @movie.id %>
</p>

<p>
  <b>Imdb:</b>
  <%= @movie.imdb_id %>
</p>

<p>
  <b>Original title:</b>
  <%= @movie.original_title %>
</p>

<p>
  <b>Overview:</b>
  <%= @movie.overview %>
</p>

<p>
  <b>Popularity:</b>
  <%= @movie.popularity %>
</p>

<p>
  <b>Poster path:</b>
  <%= @movie.poster_path %>
</p>

<p>
  <b>Release date:</b>
  <%= @movie.release_date %>
</p>

<p>
  <b>Revenue:</b>
  <%= @movie.revenue %>
</p>

<p>
  <b>Runtime:</b>
  <%= @movie.runtime %>
</p>

<p>
  <b>Status:</b>
  <%= @movie.status %>
</p>

<p>
  <b>Tagline:</b>
  <%= @movie.tagline %>
</p>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Vote average:</b>
  <%= @movie.vote_average %>
</p>

<p>
  <b>Vote count:</b>
  <%= @movie.vote_count %>
</p>

<p>
  <b>Filename:</b>
  <%= @movie.filename %>
</p>

<p>
  <b>Added:</b>
  <%= @movie.added %>
</p>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
