<legend id="title"><%= @movie.title %></legend>

<div class="vid-container" style="background: url(<%= asset_path @movie.backdrop %>);background-size:cover;">
  <video id="player" poster="<%= asset_path 'transparent.png' %>" controls>
  <source src="/theater/movies/<%= @movie.encodes.first.filename %>">
  </video>
</div>
<p>Video not playing properly? Try switching to a <a href="#player-div" onClick="switch_local_player()">local player</a>, or download the file <%= link_to "here", "/theater/movies/#{ @movie.encodes.first.filename }" %>.</p>

<div class="row movie" style="padding-top:20px;">
  <div class="col-md-3">
    <%= image_tag @movie.poster, style: "width:100%" %>
  </div>
  <div class="col-md-9">
<legend>About</legend>
    <div class="row">
      <div class="col-md-6">
        <p><%= @movie.overview %></p>
      </div>
      <div class="col-md-6">
        <table class='table'>
          <tr>
            <th>Release Date: </th>
            <td><%= @movie.release_date %></td>
          </tr>
          <tr>
            <th>TMDB Rating: </th>
            <td><%= @movie.vote_average %> (<%= @movie.vote_count %> votes)</td>
          </tr>
          <tr>
            <th>Runtime: </th>
            <td><%= @movie.runtime %></td>
          </tr>
          <tr>
            <th>Genre: </th>
            <td>
              <%= @movie.genres.map {|g| link_to(g.name, g)}.join(', ').html_safe %>
            </td>
          </tr>
          <tr>
            <td>
              <a href="http://www.imdb.com/title/<%= @movie.imdb_id %>/"><%= image_tag "button-imdb.png" %></a>
            </td>
            <td>
              <a href="https://www.themoviedb.org/movie/<%= @movie.id %>"><%= image_tag "button-tmdb.png" %></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="panel-group" id="accordion" style="padding-top:25px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#encode">
          Encodes (<%= @movie.encodes.count %>)
        </a>
      </h4>
    </div>
    <div id="encode" class="panel-collapse collapse">
      <div class="panel-body">
       
        <% @movie.encodes.each do |encode| %>
          <legend><%= encode.filename %>
          </legend>
            <%= render partial: 'encodes/retag_modal', locals: {encode: encode} %>
          
          <div class="row">
            <div class="col-md-6">
              <h4>File Information</h4>
              <table class="table">
                <tr><th>Container:</th><td><%= encode.container %></td></tr>
                <tr><th>File Size:</th><td><%= encode.size %></td></tr>
                <tr><th>Duration:</th><td><%= encode.duration %></td></tr>
                <tr><th>Rip Date:</th><td><%= encode.rip_date %></td></tr>
              </table>
              <h4>Audio Track</h4>
              <table class="table">
                <tr><th>Format:</th><td><%= encode.a_format %></td></tr>
                <tr><th>Bitrate:</th><td><%= encode.a_bitrate %></td></tr>
                <tr><th>Stream Size:</th><td><%= encode.a_stream_size %></td></tr>
              </table>
            </div>
            <div class="col-md-6">
              <h4>Video Track</h4>
              <table class="table">
                <tr><th>Format:</th><td><%= encode.v_format %></td></tr>
                <tr><th>Format Profile:</th><td><%= encode.v_profile %></td></tr>
                <tr><th>Codec:</th><td><%= encode.v_codec %></td></tr>
                <tr><th>Resolution:</th><td><%= encode.resolution %></td></tr>
                <tr><th>Aspect Ratio:</th><td><%= encode.aspect_ratio %></td></tr>
                <tr><th>Bitrate:</th><td><%= encode.v_bitrate %></td></tr>
                <tr><th>Framerate:</th><td><%= encode.framerate %></td></tr>
                <tr><th>Stream Size:</th><td><%= encode.v_stream_size %></td></tr>
              </table>
            </div>
          </div>
        <% end %>
        
      </div>
    </div>
  </div>
</div>

<script>
  function switch_local_player() {
    $('.vid-container').html("<embed src='/theater/movies/<%= @movie.encodes.first.filename %>' autoplay=true width='100%' height='100%'></embed>");
  }
</script>