<div class="jumbotron" style="text-align:center;background-color:#fff">

  <%= Setting.render(:banner) %>

  <h1><%= Setting.render(:name) %></h1>
  <p>Chose your adventure...</p>
  <div class="row">
    <div class="col-md-4">
      <%= link_to image_tag('icon_5198.svg', width: '100%'), shows_path %>
    </div>
    <div class="col-md-4">
      <%= link_to image_tag('icon_1895.svg', width: '100%'), movies_path %>
    </div>
    <div class="col-md-4">
      <%= link_to image_tag('icon_2013.svg', width: '100%'), music_index_path  %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Television</h2>
      <%= form_tag(shows_search_path, role: 'search') do %>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Television" name="q">
      </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <h2>Films</h2>
      <%= form_tag(movies_search_path, role: 'search') do %>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Films" name="q">
      </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <h2>Music</h2>
      <%= form_tag('', role: 'search') do %>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search Music" name="q">
      </div>
      <% end %>
    </div>
  </div>
</div>

<div id="comment-block">
<%= render partial: 'comments/comment_block' %>
</div>

<div id="post-comment">
  <legend>Post a Comment</legend>
  <%= form_for Comment.new do |f| %>
    <%= f.hidden_field :movie_id, value: 0 %>
    <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %><br>
    Flavored with <a href='http://daringfireball.net/projects/markdown/'>markdown</a>.
    <%= f.text_area :body, placeholder: 'This movie is aweful because...', class: 'form-control', rows:'10', required: true %><br>

    <div class="well" id="preview"></div>
    <%= f.submit 'Submit', class: 'btn' %>
  <% end %>
</div>
