<% if params[:first_time] == 'true' %>
  <div class="jumbotron">
    <h1>Welcome to Caketop!</h1>
    <p>Your settings have been populated with defaults, if you want to change anything now is the time!</p>
    <%= button_to "I don't care, show me the movies!", root_url, class: 'btn btn-primary btn-lg' %>
  </div>
<% end %>

<div class="row">
  <h1>Settings</h1>
  <div class="col-md-6">

    <legend>Site Name</legend>
    <div id="name" class="setting">
      <p>This is the name of the site, duh.</p>

      <%= form_tag settings_path, remote: true do %>
        <%= hidden_field_tag :setting, :name %>
        <div class="row">
          <div class="col-md-9">
            <%= text_field_tag :name_text, @name.content, class: 'form-control', placeholder: "Caketop Theater" %>
          </div>
          <div class="col-md-3">
            <%= submit_tag "Save", class: 'btn btn-success', remote: true %> <span id="name"></span>
          </div>
        </div>
      <% end %>
    </div>

  </div>
  <div class="col-md-6">

    <legend>About Page</legend>
    <div id="about" class="setting">
      <p>This is the contents of the About page. Who you are, why you're hosting this, etc. <br>HTML is a-okay.</p>

      <%= form_tag settings_path, remote: true do %>
        <%= hidden_field_tag :setting, :about %>
        <div class="row">
          <div class="col-md-9">
            <%= text_area_tag :about_text, @about.content, class: 'form-control', placeholder: "Caketop Theater is run by muppets." %>
          </div>
          <div class="col-md-3">
            <%= submit_tag "Save", class: 'btn btn-success', remote: true %> <span id="about"></span>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>


<div class="row">
  <div class="col-md-6">

    <legend>Settings Page</legend>
    <div id="name" class="setting">
      <p>Password protect this page?</p>

      <%= form_tag settings_path, remote: true do %>
        <%= hidden_field_tag :setting, :admin %>
        <div class="row">
          <div class="col-md-9">
            <table class="table">
              <tr>
                <td><label><%= radio_button_tag :protect, true, @admin.boolean %> Yes</label></td>
                <td><label><%= radio_button_tag :protect, false, !@admin.boolean %> No</label></td>
              </tr>
            </table>
            <%= text_field_tag :admin_username, @admin.content, class: 'form-control', placeholder: "username" %><br>
            <%= password_field_tag :admin_pass, @admin_pass.content, class: 'form-control', placeholder: "password" %>
          </div>
          <div class="col-md-3">
            <%= submit_tag "Save", class: 'btn btn-success', remote: true %> <span id="admin"></span>
          </div>
        </div>
      <% end %>
    </div>

  </div>
  <div class="col-md-6">

    <legend>Banner Area</legend>
    <div id="banner" class="setting">
      <%= form_tag settings_path, remote: true do %>
        <%= hidden_field_tag :setting, :banner %>
        <div class="row">
          <div class="col-md-9">
            <%= text_area_tag :banner_text, @banner.content, class: 'form-control', placeholder: "Welcome to Caketop Theater!" %>
            <table class="table">
              <tr>
                <td><label><%= radio_button_tag :banner_display, true, @banner.boolean %> Show</label></td>
                <td><label><%= radio_button_tag :banner_display, false, !@banner.boolean %> Hide</label></td>
              </tr>
            </table>
          </div>
          <div class="col-md-3">
            <%= submit_tag "Save", class: 'btn btn-success', remote: true %> <span id="banner"></span>
          </div>
        </div>
      <% end %>
      <p>This text will appear on the <%= link_to 'home page', root_url %> above the title, front and center! It's useful for announcements and general information for your users. HTML is totally acceptable in this field, so go nuts.</p>
    </div>

  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <legend>Footer Text</legend>
    <%= form_tag settings_path, remote: true do %>
      <%= hidden_field_tag :setting, :footer %>
      <div class="row">
        <div class="col-md-9">
          <%= text_area_tag :footer_text, @footer.content, class: 'form-control', placeholder: "Welcome to Caketop Theater!" %>
          <table class="table">
            <tr>
              <td><label><%= radio_button_tag :footer_display, true, @footer.boolean %> Show</label></td>
              <td><label><%= radio_button_tag :footer_display, false, !@footer.boolean %> Hide</label></td>
            </tr>
          </table>
        </div>
        <div class="col-md-3">
          <%= submit_tag "Save", class: 'btn btn-success', remote: true %> <span id="footer"></span>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-6">
  <legend>Pages</legend>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th><th></th>
        </tr>
      </thead>
      <tbody>
        <% @pages.each do |page| %>
          <tr>
            <td><%= link_to page.name, page_path(id: page.id) %></td>
            <td><%= link_to 'Edit', edit_page_path(id: page.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'Create New Page', new_page_path %>
  </div>
</div>

