<h1>Settings</h1>

<div class='row'>
    <div class="col-md-12">
        <%= render partial: 'simple_setting', locals: {title: 'Site Name', setting: 'name', boolean: true, placeholder: 'Caketop Theater', current_setting: @name } %>
    </div>
</div>

<div class="row setting-row">
  <div class="col-md-4">
    <%= render partial: 'simple_setting', locals: {title: 'Movie Directory', setting: 'movie_dir', boolean: true, placeholder: '/srv/movies', current_setting: @movie_dir } %>
  </div>

  <div class="col-md-4">
    <%= render partial: 'simple_setting', locals: {title: 'TV Directory', setting: 'tv_dir', boolean: true, placeholder: '/srv/tv', current_setting: @tv_dir } %>
  </div>

  <div class="col-md-4">
    <%= render partial: 'simple_setting', locals: {title: 'Music Directory', setting: 'music_dir', boolean: true, placeholder: '/srv/musics', current_setting: @music_dir } %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Footer Text</h3>
    <%= form_tag settings_path, remote: true, id: :footer_form do %>
      <%= hidden_field_tag :setting, :footer %>
      <div class="row">
        <div class="col-md-9">
          <%= text_area_tag :content, @footer.content, class: 'form-control', rows: 5, placeholder: "Welcome to Caketop Theater!" %>
          <table class="table">
            <tr>
              <td><label><%= radio_button_tag :boolean, true, @footer.boolean %> Show</label></td>
              <td><label><%= radio_button_tag :boolean, false, !@footer.boolean %> Hide</label></td>
            </tr>
          </table>
        </div>
        <div class="col-md-3">
          <%= submit_tag "Save", class: 'btn btn-success', id: 'footer_button', remote: true %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <h3>About Page</h3>
    <div id="about" class="setting">
      <%= form_tag settings_path, remote: true, id: :about_form do %>
        <%= hidden_field_tag :setting, :about %>
        <%= hidden_field_tag :boolean, true %>
        <div class="row">
          <div class="col-md-9">
            <%= text_area_tag :content, @about.content, class: 'form-control', rows: 5, placeholder: "Caketop Theater is run by muppets." %>
          </div>
          <div class="col-md-3">
            <%= submit_tag "Save", class: 'btn btn-success', id: 'about_button', remote: true %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <h3>Settings Page <small>Password protect this page?</small></h3>
    <div id="name" class="setting">
      <%= form_tag settings_path, remote: true, id: :admin_form do %>
        <%= hidden_field_tag :setting, :admin %>
        <div class="row">
          <div class="col-md-9">
            <%= text_field_tag :content, @admin.content, class: 'form-control', placeholder: "username" %><br>
            <%= password_field_tag :admin_pass, @admin_pass.content, class: 'form-control', placeholder: "password" %>
              <br>
            <table class="table">
              <tr>
                <td><label><%= radio_button_tag :boolean, true, @admin.boolean %> Yes</label></td>
                <td><label><%= radio_button_tag :boolean, false, !@admin.boolean %> No</label></td>
              </tr>
            </table>
          </div>
          <div class="col-md-3">
            <%= submit_tag "Save", class: 'btn btn-success', id: 'admin_button', remote: true %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
  <div class="col-md-6">
    <h3>Banner Area <small>Make an announcement</h3>
    <div id="banner" class="setting">
      <%= form_tag settings_path, remote: true, id: :banner_form do %>
        <%= hidden_field_tag :setting, :banner %>
        <div class="row">
          <div class="col-md-12">
              <div class="input-group">
                  <%= text_field_tag :content, @banner.content, class: 'form-control', placeholder: "Welcome to Caketop Theater!" %>
                  <span class="input-group-btn">
                      <%= submit_tag "Save", class: 'btn btn-success', id: 'banner_button', remote: true %>
                  </span>
              </div>
              <br>
            <table class="table">
              <tr>
                <td><label><%= radio_button_tag :boolean, true, @banner.boolean %> Show</label></td>
                <td><label><%= radio_button_tag :boolean, false, !@banner.boolean %> Hide</label></td>
              </tr>
            </table>
          </div>
          <div class="col-md-3">

          </div>
        </div>
      <% end %>
      <p>This text will appear on the <%= link_to 'home page', root_url %> above the title, front and center! HTML is totally acceptable in this field, so go nuts.</p>
    </div>

  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <%= render partial: 'simple_setting', locals: {title: 'Sub URL', setting: 'url', boolean: true, placeholder: '/theater', current_setting: @url } %>
    <p>Use this if you are hosting Caketop on a url other than the root (like <code>/theater</code>). Otherwise videos will not play properly.</p>
  </div>

  <div class="col-md-6">
    <h3>Pages</h3>
      <table class="table" id="pages_table">
        <thead>
          <tr>
            <th>Name</th><th></th><th></th>
          </tr>
        </thead>
        <tbody>
          <% @pages.each do |page| %>
            <tr>
              <td><%= link_to page.name, page_path(id: page.id) %></td>
              <td><%= link_to 'Edit', edit_page_path(id: page.id), class: 'btn btn-success btn-xs' %></td>
              <td><%= link_to 'Delete', page, method: :delete, class: 'btn btn-danger btn-xs', confirm: 'Are you sure you want to delete this whole page? You can\'t undo this!' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to '+ New Page', new_page_path, class: 'btn btn-primary' %>
  </div>
</div>

<script type="text/javascript">
 $('input#name_field').keyup(function(event) { $('.navbar-brand')[0].text = $('input#name_field')[0].value.toUpperCase(); });
</script>
