<div class="modal fade" id="request-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Make a Request</h4>
      </div>
      
      <%= form_for(Request.new) do |f| %>

      <div class="modal-body">
        <p>Here you can put in requests and stuff. Please include both the title and any extra identifying information about the movie or show that may be relevant (i.e. The Italian Job (2003) is different from The Italian Job (1969)). Films that are still in theaters are generally unavailable until they have a general Blu-Ray release. Also, if your request is stupid (i.e. Bio-Dome) it will not be filled.</p>

        <%= f.label "Your Name" %><br />
        <%= f.text_field :name, class: 'form-control' %><br />
        <%= f.label "Film" %><br />
        <%= f.text_area :desc, class: 'form-control', rows: 5 %><br />
        <%= f.label "IMDB/TMDB Link" %><br />
        <%= f.text_field :link, class: 'form-control' %>

      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-info">
      </div>

      <% end %>

    </div>
  </div>
</div>