<h1>Listing feedbacks</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th>Path</th>
      <th>Ip</th>
      <th></th>
    </tr>
  </thead>

<tbody>
  <% @feedbacks.each do |feedback| %>
    <tr>
      <td><%= feedback.name %></td>
      <td><%= feedback.content %></td>
      <td><%= feedback.path %></td>
      <td><%= feedback.ip %></td>
      <td><%= link_to 'Remove', feedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
</table>