<%= form_for(@show) do |f| %>
  <% if @show.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
      <% @show.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :backdrop_path %><br />
    <%= f.text_field :backdrop_path %>
  </div>
  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :original_name %><br />
    <%= f.text_field :original_name %>
  </div>
  <div class="field">
    <%= f.label :first_air_date %><br />
    <%= f.text_field :first_air_date %>
  </div>
  <div class="field">
    <%= f.label :poster_path %><br />
    <%= f.text_field :poster_path %>
  </div>
  <div class="field">
    <%= f.label :popularity %><br />
    <%= f.text_field :popularity %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :vote_average %><br />
    <%= f.text_field :vote_average %>
  </div>
  <div class="field">
    <%= f.label :vote_count %><br />
    <%= f.text_field :vote_count %>
  </div>
  <div class="field">
    <%= f.label :overview %><br />
    <%= f.text_field :overview %>
  </div>
  <div class="field">
    <%= f.label :folder %><br />
    <%= f.text_field :folder %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
