<div class="row movie" style="padding-top:20px;">
  <div class="col-md-3">
    <%= image_tag @show.poster, style: "width:100%" %>
  </div>
  <div class="col-md-9">
    <legend id="title"><%= @show.name %> <span class="sublegend"><%= @show.folder %></span></legend>
    <div class="row">
      <div class="col-md-6">
        <p><%= @show.overview %></p>
      </div>
      <div class="col-md-6">
        <table class='table'>
          <tr>
            <th>First Air Date: </th>
            <td><%= @show.first_air_date %></td>
          </tr>
          <tr>
            <th>TMDB Rating: </th>
            <td><%= @show.vote_average %> (<%= @show.vote_count %> votes)</td>
          </tr>
          <tr>
            <th>Genre: </th>
            <td>
              <%= @show.genres.map(&:name).join(', ').html_safe %>
            </td>
          </tr>
          <tr>
            <td>
              <a href="https://www.themoviedb.org/tv/<%= @show.id %>"><%= image_tag "button-tmdb.png" %></a>
            </td>
            <td>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>


<div class="row movie" style="padding-top:30px;" id="player-div">
  <div class="col-md-12">
    <legend>Player <span id="p-filename" class="sublegend"></span></legend>
    <div class="vid-container" style="background: url(<%= asset_path @show.backdrop %>);background-size:cover;">
      <video id="player" poster="<%= asset_path 'transparent.png' %>" controls>
      <source src="">
      </video>
    </div>
    <p id="p-link" style="display:none">Video not playing? Try switching to a <a href="#player-div" onClick="switch_local_player()">local player</a>, or download the file <a id='direct-link' href="">here</a>.</p>
    <p id="p-select">Select an episode from below to view.</p>
  </div
</div>

<div class="row movie" style="padding-top:30px;">
  <div class="col-md-12">
    <legend>Episodes Available</legend>
    <div class="panel-group" id="accordion">
      <% @seasons.keys.sort.each do |f|%>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= f.gsub(/\s|\./, '') %>"><%= f %></a>
            </h4>
          </div>
          <div id="collapse-<%= f.gsub(/\s|\./, '') %>" class="panel-collapse collapse">
            <div class="panel-body">
              <% @seasons[f].map {|file| file unless ['srt', 'txt'].include? file.split('.').last}.compact.sort.each do |file| %>
                <p><a href="#player-div" onClick="set_player('<%= sub_url %><%= file %>')"><%= file.split("/").last %></a></p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  var local_player = false;

  function set_player (link) {
    if (local_player) {
      $('.vid-container').html("<embed src='" + link + "' autoplay=true width='100%' height='100%'></embed>");
    } else {
      document.querySelector("#player > source").src = link;
      $('#player').attr('autoplay', true);
    }
    document.getElementById('direct-link').href = link;
    $('#p-filename').html(link);
    $('#p-link').show();
    $('#p-select').hide();
    document.getElementById('player').load();
  }

  function switch_local_player() {
    $('.vid-container').html("<embed src='" + $('#direct-link').attr('href') + "' autoplay=true width='100%' height='100%'></embed>");
    local_player = true;
  }
</script>
