<p id="notice"><%= notice %></p>

<p>
  <b>Backdrop path:</b>
  <%= @show.backdrop_path %>
</p>

<p>
  <b>Id:</b>
  <%= @show.id %>
</p>

<p>
  <b>Original name:</b>
  <%= @show.original_name %>
</p>

<p>
  <b>First air date:</b>
  <%= @show.first_air_date %>
</p>

<p>
  <b>Poster path:</b>
  <%= @show.poster_path %>
</p>

<p>
  <b>Popularity:</b>
  <%= @show.popularity %>
</p>

<p>
  <b>Name:</b>
  <%= @show.name %>
</p>

<p>
  <b>Vote average:</b>
  <%= @show.vote_average %>
</p>

<p>
  <b>Vote count:</b>
  <%= @show.vote_count %>
</p>

<p>
  <b>Overview:</b>
  <%= @show.overview %>
</p>

<p>
  <b>Folder:</b>
  <%= @show.folder %>
</p>


<%= link_to 'Edit', edit_show_path(@show) %> |
<%= link_to 'Back', shows_path %>
