<!DOCTYPE html>
<html>
<head>
  <title>CaketopTheater</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <%= link_to "CAKETOP THEATER", '/', class: "navbar-brand" %>
      <ul class="nav navbar-nav navbar-right" style="padding-right: 10px;">
        <li><%= link_to "Home", "/" %></li>
      </ul>
    </nav>

    <%= yield %>
  </div>

</body>
</html>
