<!DOCTYPE html>
<html>
<head>
  <title>CaketopTheater</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <%= link_to "CAKETOP THEATER", '/theater', class: "navbar-brand" %>
      <ul class="nav navbar-nav navbar-right" style="padding-right: 25px;">
        <li><%= link_to "Home", '/theater' %></li>

        <li class="divider"></li>
        <li><%= link_to "Films", movies_path %></li>
        <% if request.original_url.include?('movies') %>
          <li>
            <%= form_tag(movies_search_path, class: 'navbar-form', role: 'search') do %>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search Films" name="q">
              </div>
            <% end %>
          </li>
        <% end %>

        <li class="divider"></li>
        <li><%= link_to "TV", shows_path %></li>
        <% if request.original_url.include?('shows') %>
          <li>
            <%= form_tag(shows_search_path, class: 'navbar-form', role: 'search') do %>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search TV Shows" name="q">
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>

    <%= yield %>
  </div>

</body>
</html>
