<!DOCTYPE html>
<html>
<head>
  <title>CaketopTheater</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <%= link_to "CAKETOP THEATER", '/theater', class: "navbar-brand" %>
      <ul class="nav navbar-nav navbar-right" style="padding-right: 10px;">
        <li><%= link_to "Home", '/theater' %></li>
        <li><%= link_to "Movies", movies_path %></li>
         <li>
          <%= form_tag(movies_search_path, class: 'navbar-form', role: 'search') do %>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search Movies" name="q">
            </div>
          <% end %>
        </li>
      </ul>
    </nav>

    <%= yield %>
  </div>

</body>
</html>
